 body {
     margin: 0;
     padding: 0;
     font-family: Arial, sans-serif;
 }

 h1 {
     text-align: center;
     margin-top: 20px;
     background-color: #4d90fe; 
     min-height: 60px;
     
   
 }

 #search-form {
     display: flex;
     justify-content: left;
     margin-top: 20px;
 }

 #city-input {
     padding: 10px;
     font-size: 16px;
     border-radius: 4px 0 0 4px;
     border: 1px solid #ccc;
     width: 250px;
     max-width: 100%;
 }

 #city-input:focus {
     outline: none;
     border: 1px solid #4d90fe;
 }

 button {
     padding: 10px;
     background-color: #4d90fe;
     color: white;
     border: none;
     font-size: 16px;
     border-radius: 0 4px 4px 0;
     cursor: pointer;
 }

 button:hover {
     background-color: #357ae8;
 }

 #weather-container {
    text-align: center;
    margin: 20px auto;
    max-width: 600px;
    display: flex;
    background-color: #357ae8;
    border: solid;
 }

 #forecast-container {
    text-align: center;
     margin: 20px auto;
     max-width: 600px;
     display: flex;
     position: relative;
     right: 18px;
 }

 .forecast {
     background-color: #357ae8;
     border-style: solid;
     border-width: 2px;
     padding: 4px;
 }

 .forecast-weather {
     display: none;

 }

 .forecast-day {
     text-align: center;
     width: 120px;
     padding: 10px;
     background-color: #f2f2f2;
     border-radius: 4px;
 }

 .forecast-day p {
     margin: 5px;
 }

 .forecast-day img {
     width: 50px;
     height: 50px;
     margin: 5px;
 }

 li {
    border: solid;
    margin-top: 10px;
    max-width: 200px;
    cursor: pointer;
    background-color: lightblue;
 }